<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sqlsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sqlsite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SqlSite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$SqlSite</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Donate4LifeEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:donate4life.database.windows.net,1433;Initial Catalog=Donate4Life;User ID=donate4lifeadmin@donate4life.database.windows.net;Password=123v123mvm@" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Donate4Life.Donate4LifeEntities1, Donate4Life" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Donate4LifeEntities-Web.config Connection String">
      <ParameterValue>data source=tcp:donate4life.database.windows.net,1433;initial catalog=Donate4Life;user id=donate4lifeadmin@donate4life.database.windows.net;password=123v123mvm@;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Donate4LifeEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/context.csdl|res://*/context.ssdl|res://*/context.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:donate4life.database.windows.net,1433;Initial Catalog=Donate4Life;User ID=donate4lifeadmin@donate4life.database.windows.net;Password=123v123mvm@"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MovieDBContext-Web.config Connection String">
      <ParameterValue>data source=tcp:donate4life.database.windows.net,1433;initial catalog=Donate4Life;user id=donate4lifeadmin@donate4life.database.windows.net;password=123v123mvm@;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>